@import '../../../shared/style.scss';

.picture-info-field {
  background: #e8dddc;
  border-radius: 10px;
  padding: 15px;
  position: relative;
  padding-right: 2rem;
  margin-right: 1.5rem;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  .icon-container {
    position: absolute;
    background-color: $primaryColor;
    color: white;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .field-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .tag-selection {
      width: 100%;
    }

    .description-content {
      width: calc(100% - 1rem);
      padding: 0.25rem 0.5rem;
      background: white;
      border-radius: 5px;
      position: relative;
      margin-bottom: 2rem;
      min-height: 3rem;
      display: flex;
      align-items: center;

      .jodit-react-container {
        background-color: transparent;
        text-align: left;
        width: 100%;
      }

      &:not(:last-of-type) {
        margin-bottom: 0.5rem;
      }

      .delete-button {
        position: absolute;
        opacity: 0.5;
        right: 3px;
        bottom: 3px;

        &:hover {
          opacity: 1;
        }
      }
    }

    .add-button {
      background: $primaryColor;
      color: white;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -1rem);
    }

    .date-indicator {
      font-weight: 900;
      color: $primaryColor;
      font-weight: 1.2rem;
    }
  }

  .field-title {
    color: $primaryColor;
    opacity: 0.8;
    font-weight: 200;
    font-size: 0.9rem;
    text-align: right;
    margin-bottom: 0.6rem;
  }
}
