.MuiCard-root {
  height: 14.5rem;
  h3 {
    margin-bottom: 0px;
    margin-top: 0px;
  }
  #description {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
}
