@import 'src/shared/style.module';

.main-start-view {
  max-width: 1200px;
  margin: auto;

  .welcome-container {
    padding: 1rem 2rem;
    background: $backgroundColor;
    color: $textColor;

    .welcome {
      display: flex;
      flex-direction: column;
    }
  }

  .archives-title {
    margin: 2rem 0 0.75rem 0;
  }

  .archives {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 1rem;
  }
}
