@import 'src/shared/style';

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-left: auto;
  margin-right: 2rem;

  @media only screen and (max-width: $mobile-breakpoint) {
    height: 4rem;
    flex-direction: row;
    width: 100%;
    min-height: 0;
    background: $primaryColor;
  }

  .nav-element {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #ffffff;
    margin: 0px 1vmin;
    height: 100%;
    width: 3rem;
    text-decoration: none;
    transition: background 0.3s;

    &:not(.active) {
      &:hover {
        background: rgba(255, 255, 255, 0.15);
      }
    }

    &.active {
      background: rgba(255, 255, 255, 0.3);
      color: white;
    }

    @media only screen and (max-width: $mobile-breakpoint) {
      flex-direction: column;
      // color: #5a5a5a !important;
      &.active {
        background: white;
        color: #343434;
      }
    }
  }
}

.nav-more-menu {
  .nav-element-title {
    margin-left: 1rem;
  }
}
