@import 'src/shared/style';

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #e5e5e5;
  color: #5a5a5a;
  height: 4rem;
  width: 100%;
  z-index: 99;
  min-height: 0;
  overflow-x: auto;
  position: fixed;
  bottom: 0;
  left: 0;

  .nav-element {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #5a5a5a;
    cursor: pointer;
    margin: 0px 2vmin;
    height: calc(100% - 1rem);
    width: 6rem;
    text-decoration: none;
    transition: background 0.3s;
    &:not(.active) {
      &:hover {
        background: rgba(255, 255, 255, 0.15);
      }
    }

    &.active {
      background: white;
      color: #0a0a0a;
    }
  }
}

.nav-more-menu {
  .nav-element-title {
    margin-left: 1rem;
  }
}
