@import 'src/shared/style.module';

.top-bar {
  background: $primaryColor;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: $top-bar-height;
  align-items: center;
  width: 100%;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;

  .search-div {
    flex-grow: 1;
    max-width: 800px;
    margin-right: 2vw;
  }

  .action-wrapper {
    margin: 0 2rem;
  }

  .bh-logo {
    img {
      width: 75px;
      max-width: 15vmin;
    }

    &.clickable {
      cursor: pointer;
    }
  }

  button {
    color: white;
  }

  @media only screen and (max-width: $mobile-breakpoint) {
    height: 3.5rem;

    .search-div {
      margin-right: 4rem;
    }

    .action-wrapper {
      margin: 0 2rem;
    }

    .bh-logo {
      img {
        max-height: 3.5rem;
        width: auto;
      }
    }
  }
}
