@import 'src/shared/style';

.top-bar {
  background: $primaryColor;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5rem;
  padding: 0rem 2rem;
  align-items: center;
  width: calc(100% - 4rem);
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;

  .bh-logo {
    img {
      width: 75px;
      max-width: 15vmin;
    }

    &.clickable {
      cursor: pointer;
    }
  }

  button {
    color: white;
  }
}
