@import 'src/shared/style';

.map-container {
  position: fixed;
  width: 480px;
  height: 360px;
  bottom: 1rem;
  right: 1rem;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  transition: all 200ms;
}
.map-container.guess-complete {
  width: 80%;
  height: 80%;
  bottom: 10%;
  right: 10%;
}
.map {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}
.guess-complete-text {
  align-self: center;
  background: white;
  padding: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  border-radius: 1rem;
  width: 300px;
}

.guess-picture-view {
  height: calc(100vh - #{$top-bar-height});
}
.guess-picture-view .picture-wrapper {
  width: 100%;
}
.guess-picture-view .picture-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.guess-picture-view img,
.guess-picture-view .picture-container,
.guess-picture-view .zoom-wrapper {
  height: 100%;
}
