@import '../../../shared/style.scss';
.comment-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;

  .comment {
    background-color: $primaryColor;
    align-items: flex-start;
    position: relative;
    color: white;
    margin-top: 5px;
    border-radius: 0.5rem 0.5rem 0.5rem 0rem;
    margin-left: 1rem;
    margin-right: 1rem;
    min-width: 0;
    width: fit-content;
    padding: 0.5rem;

    &::after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 0.5rem 0.5rem;
      border-color: transparent transparent $primaryColor transparent;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateX(-0.5rem);
    }

    .comment-details {
      font-size: large;
      padding-bottom: 1%;
    }

    .comment-text {
      font-size: large;
      font-style: italic;
      white-space: pre-line;
    }
  }
}
