@import '../../../shared/style.scss';
.comment {
  background-color: #e5e5e5;
  align-items: flex-start;
  position: relative;
  color: #5a5a5a;
  margin-top: 5px;
  border-radius: 0.5rem 0.5rem 0.5rem 0rem;
  margin-left: 1rem;
  margin-right: 1rem;
  min-width: 0;
  width: fit-content;
  padding: 0.5rem;
  width: calc(100% - 3rem);

  &::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 0.5rem 0.5rem;
    border-color: transparent transparent #e5e5e5 transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-0.5rem);
  }

  .comment-details {
    font-size: large;
    font-style: italic;
    opacity: 0.5;
    font-size: 0.85rem;
    padding-bottom: 0.5rem;
  }

  .comment-text {
    font-size: large;
    white-space: pre-line;
    overflow-wrap: anywhere;
  }
}
