@import '../../../shared/style.scss';

.new-comment-form {
  margin-right: 1rem;
  margin-left: 1rem;
  .MuiInputLabel-root {
    color: white !important;
  }

  .MuiOutlinedInput-input {
    color: white;
  }

  .MuiOutlinedInput-root {
    background: #787878;
    margin-bottom: 1rem;

    &.Mui-focused .MuiOutlinedInput-notchedOutline {
      border-color: White;
    }
  }

  .MuiButton-root {
    color: white;
    border-color: white !important;
    margin-bottom: 2rem;    
  }
}
