@import 'src/shared/style.module';

.pictureComments {
  transition: max-height 0.5s;
  max-height: 100vh;

  &:not(.open) {
    max-height: 3.5rem;
    overflow: hidden;

    .picture-comments-header .expand-button {
      transform: rotate(180deg);
    }
  }

  @media only screen and (max-width: $mobile-breakpoint) {
    max-height: unset !important;

    .picture-comments-header .expand-button {
      display: none;
    }

    .picture-comments-header {
      pointer-events: none;
    }
  }

  .comment-container {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    margin-bottom: 1rem;
    gap: 1rem;
  }

  .picture-comments-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    padding-top: 1rem;
    cursor: pointer;
    position: relative;
  }
}
