@import 'src/shared/style';

.pictureComments {
  transition: max-height 0.5s;
  max-height: 100vh;

  &:not(.open) {
    max-height: 3.5rem;
    overflow: hidden;

    .picture-comments-header .MuiSvgIcon-root {
      transform: rotate(180deg);
    }
  }

  @media only screen and (max-width: $mobile-breakpoint) {
    max-height: unset !important;

    .picture-comments-header .MuiSvgIcon-root {
      display: none;
    }

    .picture-comments-header {
      pointer-events: none;
    }
  }

  .comment-container {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    margin-bottom: 1rem;
    gap: 1rem;
  }

  .picture-comments-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    padding-top: 1rem;
    cursor: pointer;
    position: relative;

    &:hover::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% + 20px);
      height: 100%;
      opacity: 0.3;
      transform: translate(-10px, -10px);
      background: linear-gradient($primaryColor, transparent);
    }

    h2 {
      display: flex;
      align-items: center;
      color: $primaryColor;
      margin: 0;

      .picture-comments-icon {
        width: 30px;
        margin-right: 12px;
      }
    }
  }
}
