@import 'src/shared/style';
.comment {
  background-color: #e5e5e5;
  align-items: flex-start;
  position: relative;
  color: #5a5a5a;
  margin-top: 5px;
  border-radius: 0.5rem;
  min-width: 0;
  width: fit-content;
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;

  .comment-details {
    font-size: large;
    font-style: italic;
    opacity: 1;
    font-size: 0.85rem;

    .comment-details-container {
      opacity: 0.5;
    }
  }

  .pin-icon {
    opacity: 1;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    color: darkred;
  }

  .pin-button {
    opacity: 1;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    color: #0c0c0c;
    width: 2rem;
    height: 2rem;
    background: white;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    border: 1px solid $backgroundColor;
    z-index: 2;

    &.pinned {
      color: darkred;
    }

    &.pin-button {
      &:hover {
        opacity: 0.7;
      }
    }
  }

  .comment-text {
    font-size: large;
    white-space: pre-line;
    overflow-wrap: anywhere;

    max-height: 250px;
    overflow: hidden;
  }

  &:not(.open) {
    padding-bottom: 1rem;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% - 1rem);
      height: 100%;
      background: linear-gradient(transparent, #e5e5e5);
      z-index: 2;
    }
  }

  &.open {
    &.long {
      padding-bottom: 3rem;
    }

    .comment-text {
      max-height: unset;
    }

    .expand-button .MuiSvgIcon-root {
      transform: rotate(180deg);
    }
  }

  .expand-button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
  }
}
