@import 'src/shared/style';

.bulk-edit {
  display: flex;
  flex-direction: row;

  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: black;

  .scroll-context {
    height: 100%;
  }

  &-picture-grid {
    flex: 1;
    height: 100%;

    .picture-count {
      padding-top: 2rem;
    }

    .picture-grid {
      padding: 2rem;
      padding-top: 0;
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }

  &-picture-info {
    padding-left: 10px;
    width: 450px;

    .picture-info {
      overflow-y: auto;
      height: 100%;
      background-color: white;
      padding: 10px;
      padding-top: 20px;
      box-sizing: border-box;
    }

    .save-state {
      margin-left: auto;
    }
  }

  &-grid-wrapper {
    flex: 1 1 0;
    height: 100%;
    position: relative;

    @media only screen and (max-width: $mobile-breakpoint) {
      flex-direction: column;
    }
  }
}

.picture-ui {
  position: relative;
  pointer-events: all;
  height: 100%;

  @media only screen and (min-width: $mobile-breakpoint) {
    max-height: 100% !important;
  }
}
