@import 'src/shared/style';

.bulk-edit {
  display: flex;
  flex-direction: row;

  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  &-picture-grid {
    background-color: black;
    flex: 1;
    height: 100%;
  }

  &-picture-info {
    padding-left: 10px;
    width: 450px;
    background-color: white;
  }

  &-grid-wrapper {
    flex: 1 1 0;
    height: 100%;
    position: relative;

    @media only screen and (max-width: $mobile-breakpoint) {
      flex-direction: column;
    }
  }
}

.picture-ui {
  position: relative;
  pointer-events: all;
  height: 100%;

  @media only screen and (min-width: $mobile-breakpoint) {
    max-height: 100% !important;
  }
}
