/*
@import 'src/shared/fonts/lato/lato.scss';
@import 'src/shared/fonts/creteround/creteround.scss';
@import 'src/shared/style';
@import 'src/shared/mui/mui.scss';

* {
  font-family: 'Lato', Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: 'Lato', Arial, sans-serif;
  background: $backgroundColor;
  background-size: 100% 100%;
}

#root {
  height: 100%;
}

.App {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  height: calc(100% - 5rem);
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 5rem;
  @media only screen and (max-width: $mobile-breakpoint) {
    height: calc(100% - 7.5rem);
    padding-top: 3.5rem;
    padding-bottom: 4rem;
  }
}
*/

@import 'src/shared/fonts/lato/lato.scss';
@import 'src/shared/fonts/creteround/creteround.scss';
@import 'src/shared/style';
@import 'src/shared/mui/mui.scss';

* {
  font-family: 'Lato', Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: 'Lato', Arial, sans-serif;
  background: $backgroundColor;
  background-size: 100% 100%;
}

#root {
  height: 100%;
}

.App {
  max-width: 100%;
  margin: auto;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  //height: calc(100% - 5rem);
  overflow: hidden;
  padding-top: 5rem;
  @media only screen and (max-width: 650px) {
    height: calc(100% - 4rem);
    padding-top: 0rem;
    padding-bottom: 4rem;
  }



  .App-contents-wrapper{
    max-width: 1200px;
    margin: auto;
    margin-bottom: 0;
    margin-top: 0;
    background-color: white;
    box-shadow: 0 0 4px 0 rgba($color: #000000, $alpha: 0.2);

}


}


