@import 'src/shared/fonts/lato/lato.scss';
@import 'src/shared/fonts/creteround/creteround.scss';
@import 'src/shared/style';
@import 'src/shared/mui/mui.scss';

* {
  font-family: 'Lato', Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: 'Lato', Arial, sans-serif;
  background: $backgroundColor;
  background-size: 100% 100%;
}

#root {
  height: 100%;
}

.App {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  height: calc(100% - 9rem);
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 5rem;
  padding-bottom: 4rem;
}
