@import 'src/shared/fonts/lato/lato.scss';
@import 'src/shared/fonts/creteround/creteround.scss';
@import 'src/shared/style';
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply border-none focus:ring-1 rounded cursor-pointer;
}

* {
  font-family: 'Lato', Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Lato', Arial, sans-serif;
  background: $backgroundColor;
  background-size: 100% 100%;
}

html,
body,
.App {
  height: 100vh;
  overflow: hidden;
}
