.tos-content-container {
  max-width: 1200px;
  margin: auto;
  padding: 1rem 2rem;

  .tos-content {
    h2 {
      text-align: left !important;
      margin-bottom: 2rem;
      margin-left: 0;
      margin-right: 0;
    }

    .bold {
      font-weight: bold;
    }
  }
}
