.demo-component {
  width: 850px;
  max-width: calc(95vw - 4rem);
  margin: auto;
  margin-top: 2rem;
  background: rgba(255, 255, 255, 0.5);
  padding: 2rem;

  .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    button:not(:last-child) {
      margin-right: 1rem;
    }
  }

  h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #233b91;
  }

  .gallery-select {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;

    .MuiTextField-root {
      width: 25%;
      margin: 12px;
    }
  }

  .gallery-stack {
    .gallery,
    .MuiPagination-root {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }

  .gallery {
    margin-top: 1.5rem;
    display: grid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @keyframes pop-in {
      0% {
        transform: scale(0);
      }
      90% {
        transform: scale(1.05);
      }
      100% {
        transform: scale(1);
      }
    }

    .picture {
      cursor: pointer;
      margin: 2px;
      min-width: 250px;
      min-height: 150px;
      animation: pop-in 0.4s;
      transform: scale(0);
      animation-fill-mode: forwards;
      transition: transform 0.3s;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 100%;

      &:hover {
        filter: grayscale(0.5);

        img,
        .img-operations-overlay {
          transform: scale(0.98);
        }
      }

      img {
        transition: transform 0.3s;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
        max-width: 100%;
        height: auto;
        grid-row: 1;
        grid-column: 1;
      }

      .img-operations-overlay {
        opacity: 0;
        pointer-events: none;
        grid-row: 1;
        grid-column: 1;
        background: radial-gradient(transparent, rgba(14, 14, 14, 0.2));
        z-index: 96;
        width: 100%;
        display: flex;
        flex-direction: row;
        min-width: 100%;
        align-items: flex-end;
        color: white;
        transition: opacity 0.4s;
      }

      &:hover .img-operations-overlay {
        opacity: 1;
        pointer-events: all;

        svg {
          fill: white;
        }
      }

      &.selected {
        z-index: 95;

        img,
        .img-operations-overlay {
          transform: scale(1.05);
        }
      }
    }
  }

  .infos {
    width: 350px;
    height: calc(100% - 1rem);
    top: 0;
    right: 0;
    position: fixed;
    z-index: 99;
    background: white;
    box-shadow: -2px 0px 4px 0px rgba(0, 0, 0, 0.3);
    padding: 0.5rem;
    padding-left: 1rem;
    transform: translateX(100%);
    transition: transform 0.4s;

    &.open {
      transform: translateX(0);
    }

    h3 {
      color: #233b91;
    }

    & > div {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: left;
    }

    .MuiTextField-root {
      background: white;
      width: 100%;
    }
  }
}
