@import 'src/shared/style';

.picture-info-field {
  border-radius: 10px;
  padding: 15px;
  position: relative;
  padding-right: 2rem;
  margin-right: 1.5rem;
  background: #e8dddc;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  .field-title {
    color: $titleColor;
  }

  @mixin data-type-colors($name, $color) {
    &[data-type='#{$name}'] {
      .icon-container,
      .MuiChip-filled,
      .MuiChip-deleteIcon {
        background: $color;
        color: white;
      }

      background: adjust-color(mix($color, white, 20%), $saturation: +10%);
    }
  }

  @include data-type-colors('person', $personColor);
  @include data-type-colors('description', $descriptionColor);
  @include data-type-colors('date', $decadeColor);
  @include data-type-colors('location', $locationColor);
  @include data-type-colors('keywords', $keywordColor);


    }
  }

  .icon-container {
    position: absolute;
    background-color: $primaryColor;
    color: white;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .field-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .tag-selection {
      width: 100%;
      .MuiIcon-root {
        color: white;
      }
    }

    .chip-stack {
      flex-wrap: wrap;
      gap: 8px;
      width: 100%;
    }

    .description-wrapper {
      display: flex;
      width: 100%;
      margin-bottom: 2rem;

      .description-content {
        width: calc(100% - 1rem);
        padding: 0.25rem 0.5rem;
        background: white;
        border-radius: 5px;
        position: relative;
        min-height: 3rem;
        display: flex;
        align-items: center;

        .jodit-react-container {
          background-color: transparent;
          text-align: left;
          width: 100%;
        }
      }

      &:not(:last-of-type),
      &:last-child {
        margin-bottom: 0.5rem;
      }

      .delete-button {
        opacity: 0.5;
        margin-left: 3px;
        margin-top: 3px;
        padding: 0px;

        &:hover {
          opacity: 1;
        }
      }
    }

    .add-button {
      background: $primaryColor;
      color: white;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -1rem);
    }
  }

  .field-title {
    opacity: 0.8;
    font-weight: 200;
    font-size: 0.9rem;
    text-align: right;
    margin-bottom: 0.6rem;
  }

  .none-found {
    opacity: 0.5;
  }
}
