.recommendation-item-container {
  display: flex;
  flex-direction: row;

  .recommendation-item-parents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 8px;

    .recommendation-item {
      display: flex;
      flex-direction: row;
      color: gray;
    }
  }

  .recommendation-item-name {
    display: flex;
    flex-direction: row;
  }
}
