@import '../../shared/style.scss';
@import './shared.scss';

.picture-sidebar {
  width: 430px;
  background: white;
  z-index: 1002;
  padding: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  margin-right: 0px;
  transition: margin-right 0.5s;
  position: relative;

  &.closed {
    margin-right: -450px;
  }

  .picture-info {
    padding: 10px;
  }

  .quick-access-buttons {
    position: absolute;
    bottom: 2rem;
    left: 0;
    background: white;
    display: flex;
    flex-direction: row;
    z-index: 1005;
    transform: translateX(-100%);
    border-radius: 0.3rem 0 0 0.3rem;

    .MuiButton-root {
      display: flex;
      border-radius: 0;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      color: $primaryColor;
      flex: 1 1 0;
      font-size: 1.1rem;

      & > span {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        & > .material-icons {
          margin-right: 0.5rem;
        }
      }

      &.selected .exp-icon {
        transform: rotate(90deg);
      }

      .exp-icon {
        transform: rotate(-90deg);
        transition: transform 0.5s;
      }
    }
  }

  .scroll-container {
    height: 100%;
    max-height: 100%;
    overflow: auto;
  }

  @media only screen and (max-width: $mobile-breakpoint) {
    width: 100%;
    max-width: 100%;
    max-height: 80vh;
    padding-left: 0;
    padding-top: 0;
    z-index: 1005;
    transition: max-height 0.5s;

    &.closed {
      max-height: 5rem;
    }

    .quick-access-buttons {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      padding-top: 20px;
      transform: translateY(0);
      transition: transform 0.5s;
      height: 4rem;
      border-radius: 0;

      &::before {
        content: '';
        background: #efefef;
        width: 80%;
        left: 10%;
        top: 10px;
        height: 2px;
        position: absolute;
      }

      .MuiButton-root {
        &.selected .exp-icon {
          transform: rotate(180deg);
        }

        .exp-icon {
          transform: rotate(0deg);
        }
      }
    }
  }
}
