.navbar {
  width: calc(100% - 4rem);
  padding: 2rem;
  display: flex;
  flex-direction: row;

  .logo {
    margin-right: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 125px;
      max-width: 12.5vw;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    max-width: 650px;
    align-items: center;

    li {
      padding: 0.5rem 1rem;

      a {
        text-decoration: none;
        color: #616c11;
        width: 6rem;
        text-align: center;
        display: block;
        padding-bottom: 0.75rem;
        border-bottom: 0.2rem solid transparent;
        transition: border 0.2s;

        &.selected {
          color: #484e1a;
          font-weight: bold;
          border-bottom: 0.2rem solid #484e1a;
        }
      }
    }
  }
}
