@import 'shared/style.scss';

.scroll-context {
  color: $textColor;
  display: grid;
  min-height: 0;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto;

  .scrollable-container {
    overflow-x: hidden;
    overflow-y: auto;
  }
}
