@import 'src/shared/style';

.search-breadcrumbs {
  .breadcrumb-chip {
    color: white;

    .MuiChip-deleteIcon,
    .MuiSvgIcon-root {
      color: white;
    }

    &[search-type='keyword'] {
      background: $keywordColor;
    }
    &[search-type='all'] {
      background: $allSearchColor;
    }
    &[search-type='description'] {
      background: $descriptionColor;
    }
    &[search-type='decade'] {
      background: $decadeColor;
    }
    &[search-type='date'] {
      background: $decadeColor;
    }
    &[search-type='person'] {
      background: $personColor;
    }
    &[search-type='location'] {
      background: $locationColor;
    }
    &[search-type='collection'] {
      background: $primaryColor;
    }
  }
}
