@import '../../../shared/style.scss';

.pictureDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .description {
    width: calc(100% - 2rem);
    padding: 1rem;
  }
}
