@import '../../../shared/style.scss';

.search-view {
  width: 100%;
  display: flex;
  flex-direction: column;

  .search-content {
    padding: 1rem 0.5rem;
    max-width: 1200px;
    margin: auto;
    background: $backgroundColor;
    width: 90%;
  }

  .search-result-banner + .search-content {
    margin-top: -2.9rem;
  }

  .picture-grid {
    margin-top: 2rem;
  }
}
