.search-bar {
  width: 100%;
  display: flex;
  z-index: 25;

  .MuiFormControl-root {
    width: 100%;

    @media only screen and (min-width: 651px) {
      max-width: 800px;
      margin: auto;
    }

    .MuiInputBase-root {
      color: white;
      border-radius: 2rem;
      background: #302e2e;
      transition: margin-left 0.25s, margin-top 0.25s, width 0.25s, border-radius 0.25s;

      @media only screen and (max-width: 650px) {
        &.Mui-focused {
          border-radius: 0;
          margin-left: -0.5rem;
          margin-top: -1rem;
          width: calc(100% + 1rem);
        }
      }

      input {
        z-index: 99;
      }

      .MuiSvgIcon-root {
        color: white;
      }

      fieldset {
        border-color: transparent !important;
      }
    }
  }
}
