.search-breadcrumbs {
  .breadcrumb-chip {
    margin-top: 1rem;
    &[search-type='keyword'] {
      background: rgb(5, 5, 248);
    }

    &[search-type='ALL'] {
      background: rgb(6, 247, 70);
    }

    &[search-type='description'] {
      background: rgb(243, 159, 3);
    }
    &[search-type='decade'] {
      background: rgb(236, 8, 114);
    }
  }
}
