@import 'src/shared/style.module';

h1 {
  width: fit-content;
  margin: auto;
  margin-bottom: 2rem;
  text-align: center;
}

.archive-container {
  max-width: 1200px;
  margin: auto;
  padding: 2rem 2rem;
  background: white;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  min-height: calc(100vh - 14rem);

  .picture-grid {
    margin-top: 2rem;
  }

  .archive-data {
    display: flex;
    width: 100%;

    @media (max-width: $mobile-breakpoint) {
      flex-direction: column-reverse;
    }

    .archive-info {
      display: flex;
      flex-direction: column;
      width: 57.5%;

      @media (max-width: $mobile-breakpoint) {
        width: 100%;
      }

      .archive-socials {
        display: flex;

        @media (max-width: $mobile-breakpoint) {
          flex-direction: column;
        }

        .archive-logo-container {
          overflow: hidden;
          display: flex;
          padding-top: 0.45rem;
          padding-left: 1rem;
          padding-right: 2rem;
          min-height: 130px;
          max-height: 150px;
          min-width: 130px;
          max-width: 150px;

          .archive-logo {
            margin-bottom: auto;
            margin-left: auto;
            margin-right: auto;
          }
        }

        .archive-links {
          overflow: hidden;
          display: flex;
          padding-right: 0rem;
          padding-top: 0rem;
          flex-direction: column;

          .archive-link {
            display: flex;
            align-items: center;
            margin-top: 0.1rem;
            margin-bottom: 0.1rem;

            a {
              margin-left: 0.5rem;
            }
          }
        }
      }

      .archive-info-container {
        margin-bottom: 1rem;
        min-height: 200px;
        background: #ffffff;
        padding: 0rem 1rem 1rem 1rem;
        border-radius: 0.5rem;
        font-size: 20px;

        @media (max-width: $mobile-breakpoint) {
          font-size: 18px;
        }

        .jodit-placeholder {
          padding: 0 !important;
        }

        a {
          color: $primaryColor;
        }
      }
    }

    .archive-showcase {
      width: 42.5%;
      margin-left: 30px;

      @media (max-width: $mobile-breakpoint) {
        margin-left: 0px;
        margin-bottom: 2rem;
        width: 100%;
      }
    }
  }
}

.archive-link-entry {
  display: flex;
  align-items: center;

  a {
    font-size: larger;
  }
}

.icon-button {
  width: 100%;

  .icon {
    color: $textColor;
    margin: auto;
    transform: scale(1.8);
  }
}

.star-selected {
  color: $keywordColor;
}
