@import 'src/shared/style';

.archive-form {
  width: 100%;
  margin: 1rem;
  margin-bottom: 100px;
  align-self: center;
  overflow: hidden;
}

.archive-edit-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 70%;
  margin: auto;
  padding: 1rem 2rem;
  padding-top: 4rem;
  background: white;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  min-height: calc(100vh - 14rem);
  .archive-navigation {
    display: flex;
    width: 100%;
    margin-bottom: 2rem;
    .button-save {
      margin-left: auto;
      padding-inline: 1rem;
      &:disabled {
        opacity: 0.5;
      }
    }
    .button-close {
      margin-right: 1rem;
      padding-inline: 1rem;
    }
  }
  h1 {
    width: fit-content;
    margin: auto;
    margin-bottom: 0rem;
    text-align: center;
  }
}

.archive-form-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 2rem 0;
  flex-wrap: wrap;
  @media (max-width: 1250px) {
    flex-direction: column;
    margin: 1rem 0;
  }

  .archive-form-label {
    margin-top: 1rem;
    width: 20%;
    display: flex;
    align-items: flex-start;
    font-size: larger;
    font-weight: bold;
    @media (max-width: 1250px) {
      width: 100%;
      margin-top: 0rem;
    }
  }

  .jodit-react-container {
    flex-grow: 1;
    font-size: 20px;
    width: 80%;
    flex-wrap: wrap;
    display: flex;
    @media (max-width: 1250px) {
      width: 100%;
    }
  }
}

.archive-logo-container {
  overflow: hidden;
  height: 130px;
  .archive-logo {
    height: auto;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
  }
}

.archive-form-control {
  flex-grow: 1;
}

.button-filled {
  background: $primaryColor !important;
  color: white !important;
}

.archive-form {
  .archive-form-div {
    .archive-form-link-input {
      width: 80%;
      @media (max-width: 1250px) {
        width: 100%;
        padding-top: 0.25rem;
      }
      .archive-link-entry {
        border: 1px solid #bbbbbb;
        border-radius: 4px;
        margin: 0 0 0.5rem 0;
        a {
          padding: 0.5rem 0 0.5rem 1rem;
          margin-right: auto;
        }
        .archive-link-entry-form {
          margin-right: auto;
          width: 100%;
          padding: 1rem 0 0.5rem 0.5rem;
          .MuiFormControl-root {
            width: 50%;
            @media (max-width: 1250px) {
              width: 100%;
            }
          }
        }
      }
      .MuiButton-root {
        padding-inline: 1rem;
      }
    }
  }
}
