@import 'src/shared/style';

h2 {
  width: fit-content;
  margin: auto;
  margin-bottom: 2rem;
  text-align: center;
}

.archive-container {
  overflow-y: auto;
  overflow-x: hidden;
  .archive-logo-container {
    overflow: hidden;
    height: 130px;
    .archive-logo {
      height: auto;
      max-width: 100%;
      max-height: 100%;
      vertical-align: middle;
    }
  }
}

.archive-showcase {
  width: 400px;
  flex-shrink: 0;
}

.star-selected {
  color: $primaryColor;
}

.archive-edit-button {
  background: $primaryColor !important;
  color: white !important;
  float: right;
  box-shadow: 0px 2px black;
}

.archive-info-container {
  margin-right: 20px;

  .jodit-react-container {
    margin-bottom: 1rem;
    min-height: 200px;
    background: #fafafa;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 20px;

    .jodit-placeholder {
      padding: 0 !important;
    }

    a {
      color: $primaryColor;
    }
  }
}

.archive-link-entry {
  display: flex;
  align-items: center;
  a {
    font-size: larger;
  }
}

.archive-data {
  display: flex;
  width: 100%;

  .picture-preview {
    flex: 0 1 100px;
  }
}

.archive-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.archive-socials {
  display: flex;
}

.archive-links {
  display: flex;
  align-self: center;
  flex-grow: 1;
  padding: 1rem;
  margin-left: 2rem;
  flex-direction: column;
  a {
    margin-top: 0.5rem;
  }
}

.icon-button {
  width: 100%;

  .icon {
    color: $textColor;
    margin: auto;
    transform: scale(1.8);
  }
}
