@import 'src/shared/style';

.bulk-operations {
  margin-top: 1rem;
  background: #e5e5e5;
  display: grid;
  border-radius: 0.3rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  .MuiButton-root {
    background-color: $primaryColor;
  }

  .tag-operations {
    min-width: 200px;
  }
}
