@import 'src/shared/style';

.bulk-operations {
  margin-top: 1.5rem;
  background: #e5e5e5;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  gap: 10px;

  .MuiButton-root {
    background-color: $primaryColor;
  }
}
