@import 'src/shared/style';

.transitioning {
  .picture-view-container {
    visibility: hidden;
  }

  .adornments {
    display: none;
  }
}

.picture-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .row {
    display: flex;
    flex-direction: row;
    gap: 10px;

    .picture-placeholder {
      background: #474747;
      margin: 5px;
      animation: placeholder-sparkle 2.5s;
      animation-iteration-count: infinite;

      @keyframes placeholder-sparkle {
        0% {
          opacity: 0.7;
        }

        50% {
          opacity: 0.2;
        }

        100% {
          opacity: 0.7;
        }
      }
    }
  }
}

.selection-buttons {
  margin-top: 1rem;
  background: #e5e5e5;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  gap: 10px;

  .MuiButton-root {
    background-color: $primaryColor;
  }
}
