.transform-to-left-side-of-screen {
  transform: rotate(-90deg) translate(calc(20% - 50vh), calc(60% - 50vw));
  position: sticky;
  top: 0;
  animation: fade-in 0.5s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
