@import 'src/shared/style';

.overview-container {
  display: flex;
  flex-direction: column;
  .overview-title {
    margin: 2rem 0 0.75rem 0;
  }

  .overview-picture-grid-container {
    margin-top: 0rem;
    height: fit-content;

    .picture-grid {
      margin-top: 0rem;
    }
  }

  .overview-collection-grid-container {
    margin: 0 0 1rem 0;
    height: fit-content;
  }
}
