@import 'src/shared/style';

.scroll-context {
  color: $textColor;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto;

  .scrollable-container {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
