/*@import 'src/shared/style';

.footer {
  background-color: #c0bcbc;
  padding: 1rem 2rem;

  .footer-content {
    display: flex;
    flex-flow: column nowrap;

    h3 {
      font-size: 1.5rem;
      margin-top: 0;
    }

    p {
      font-size: 1rem;
      cursor: pointer;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }

    .footer-associates {
      margin-top: 1rem;

      .associates-logos {
        display: flex;
        align-items: center;
        gap: 2rem;
        .logo {
          height: 4rem;
        }
        .square {
          width: 8rem;
          height: auto;
        }
        .logo img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        @media only screen and (max-width: $mobile-breakpoint) {
          flex-wrap: wrap;
          justify-content: center;
          .logo {
            height: 1.5rem;
          }
          .square {
            width: auto;
            height: 4rem;
          }
        }
      }
    }
  }
}

*/

.footer{
    
  max-width: 1200px;
  margin: auto;
  background-color: #c0bcbc;
  padding: 1rem 1rem 0rem 1rem;

  h3 {
    font-size: 1.5rem;
    margin-top: 0;
  }

  p {
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

    .footer-associates {
      margin-top: 1rem;

      .associates-logos {
        display: flex;
        align-items: center;
        gap: 2rem;
        .logo {
          height: 4rem;
        }
        .square {
          width: 8rem;
          height: auto;
        }
        .logo img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        @media only screen and (max-width: 650px) {
          flex-wrap: wrap;
          justify-content: center;
          .logo {
            height: 1.5rem;
          }
          .square {
            width: auto;
            height: 4rem;
          }
        }
      }
    }
}

