@import '../../../shared/style.scss';

.transitioning {
  .picture-view-container {
    visibility: hidden;
  }

  .adornments {
    display: none;
  }
}

.toggle-view-mode {
  background: white;
  margin-top: 1rem;

  .Mui-selected {
    background-color: $primaryColor !important;
    color: white !important;
  }
}
