// color scheme

:root {
  --primary-color: #7e241d;
  --secondary-color: #404173;
  --background-color: #f5f5f5;
  --text-color: #0a0a0a;
  --decade-color: #a1e887;
  --description-color: #7e241d;
  --person-color: #404173;
  --location-color: #2c6e49;
  --keyword-color: #ff9f1c;
  --title-color: rgb(95, 94, 94);
}

$primaryColor: var(--primary-color);
$secondaryColor: var(--secondary-color);
$backgroundColor: var(--background-color);
$textColor: var(--text-color);
$decadeColor: var(--decade-color);
$descriptionColor: var(--description-color);
$personColor: var(--person-color);
$locationColor: var(--location-color);
$keywordColor: var(--keyword-color);
$titleColor: var(--title-color);
