.picture-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .row {
    display: flex;
    flex-direction: row;
    gap: 10px;

    .picture-view {
      &.thumbnail {
        cursor: pointer;
      }
      img {
        width: 100%;
        height: auto;
        vertical-align: middle;
      }
    }

    .picture-placeholder {
      background: #474747;
      margin: 5px;
      animation: placeholder-sparkle 2.5s;
      animation-iteration-count: infinite;

      @keyframes placeholder-sparkle {
        0% {
          opacity: 0.7;
        }
        50% {
          opacity: 0.2;
        }
        100% {
          opacity: 0.7;
        }
      }
    }
  }
}
